body {
    background: linear-gradient(to left, blue,black) ;
    color: gray;
}

nav,header,footer {
    display: block;

}
h1 {
    color: gray;
    text-align: center;
}

.introduction {
    color: gray;
    text-align: center;

}
/* ######################## NAV BAR ######################### */
nav{
    display: block;
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eeee;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

ul.topnav li {
    list-style: none;
    float: left;

}
ul.topnav li.topnav-right{
    float: right;
}

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 16px;
    text-transform: Uppercase;
    color: #666; 
}
ul.topnav li a:hover {
    background-color: #0080ff;
    color: white;
}
ul.topnav li.dropDownIcon{
    display: none;

}
h2 {
    color: gray;
}

p {
    color: gray;
}

table {
    color: gray;
}

hr {
    color: gray;
}

ol {
    color: gray;
}

h3 {
    color: gray;
}

form {
        color: gray;
}


/* #################### MOBILE ######################### */
@media screen and (max-width 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display:none;
    }

    ul.topnav li.dropDownIcon {
        display: block;
        float: right;

    }

    ul.topnav.responsive li.dropDownIcon{
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive{
        position: relative;
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a{
        display: block;
        text-align: left;

    }
}
