body {
/*    background: linear-gradient(to left, blue,black) ;*/
    background-color: black;
    color: rgb(255, 251, 251);
    font-family: 'Josefin Sans', sans-serif;
    min-width: 1500px;
    max-width: 1501px;
}

/* ROW */
.row{
    display: flex;
    width: 100%;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

/* This is for the sliding buttons on 'contact.html'*/
.wrapper {
    position: absolute;
    width: 300px;
    height: 200px; 
    border: 1px solid white;
    background-color: red;
    overflow: hidden;
    border-radius: 50px;
}
/*this is the 'id' descriptor*/
#slide {
    position: relative;
    left: -300px;
    width: 300px;
    height: 200px;
    background: blue;
    transition: 1s;
    overflow: hidden;
    border-radius: 50px;
}

.wrapper:hover #slide {
    transition: 1s;
    left: 0;
    
}
/* end sliding buttons animations and such */

/* Column Sections */
.col-1{width: 8.33%;}
.col-2{width: 16.66;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
*{
    box-sizing: border-box;
}
/*-----------------------------*/
nav,header,footer {
    display: block;
}
.TopButton{

    width: 100px;
    border-radius: 50px;
    float: left;
    margin-bottom: auto;
    box-shadow: 0px 0px 10px white;
}
.quote{
    /*background-color: lightgrey;*/
    width: 100%;
    /*border: 100px solid blue;*/
    padding: 50px;
    padding-top: 20%;
    margin: 20px;
    font-size: 80pt;
}
/*accordion attempt*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgba(42, 6, 173, 0.842);
    color: rgb(255, 249, 249);
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after{
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
  /* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: rgb(99, 86, 86);
    max-height: 0;
    max-width: 50%;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}
.active:after{
    content: "\2212"
}
/*-----------------*/
h1 {
    color: whitesmoke;
    text-align: center;
}
.FirstBox{
    height: 800px;
    width: 100%;
    background-color: white;
}
.square {
    height: 50px;
    width: 50px;
    background-color: black;
}
.block {
    width: 100%;
    height: 1100px;
    background-color: rgb(61, 61, 61);
    float: left;
    
}
.container.blueandred{
    width: 50%;
    height: 1000px;
    float: left;
    
}
.container.blueandredtext{
    margin-left: 50%;
    height: 100px;
    word-wrap: break-word;
    background-color: red;

}
.block img{
    width: 700px;
    height: 900px;
    padding-left: 20px;
}
div.b{
    word-wrap: break-word;
}
.introduction {
    color: whitesmoke;
    text-align: center;
}
/* ######################## NAV BAR ######################### */
nav{
    display: block;
    width: 100%;
    margin: 0;
}
nav ul {
    background-color: black;
    overflow: hidden;
    margin: 0px;
    padding: 5px;
    border-radius: 8px;
}
ul.topnav li {
    list-style: none;
    float: left;
}
ul.topnav li.topnav-right{
    float: right;
}

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 16px;
    color: white; 
    border-radius: 12px;
}
ul.topnav li a:hover {
    background-color: #084e94;
    color: white;
    box-shadow: 0 0 0 10px rgb(36, 36, 110);
    opacity: 0.5;
    transition: 1s;
}
ul.topnav li.dropDownIcon{
    display: none;
}
h2 {
    color: whitesmoke;     
}
p {
    color: whitesmoke;
}
table {
    color: whitesmoke;
}
hr {
    color: whitesmoke;
}
ol {
    color: whitesmoke;
}
h3 {
    color: whitesmoke;
}
form {
        color: whitesmoke;
}
/* #################### MOBILE ######################### */
@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display:none;
    }

    ul.topnav li.dropDownIcon {
        display: block;
        float: right;

    }

    ul.topnav.responsive li.dropDownIcon{
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive{
        position: relative;
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a{
        display: block;
        text-align: left;

    }
}
