body {
    background: linear-gradient(to left, blue,black) ;
    color: gray;
}

h1 {
    color: gray;
    text-align: center;
}

.introduction {
    color: gray;
    text-align: center;

}

h2 {
    color: gray;
}

p {
    color: gray;
}

table {
    color: gray;
}

hr {
    color: gray;
}

ol {
    color: gray;
}

h3 {
    color: gray;
}

form {
        color: gray;
}
